// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-primary: #2d6cdf;
    --ion-color-secondary: #ffffff;
    --ion-color-tertiary: #eeeeee;
  
    --ion-background-color: #f4f6f8;
    --ion-text-color: #1a1a1a;
  
    --ion-color-success: #10dc60;
    --ion-color-danger: #f04141;
  }
  